/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
/* --------- Eficácia --------- */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/

#alerta-fundo {
    background-color: var(--cor-fundo-XXclara);
    padding: 10px 0;
}

#alerta-image img {
    width: 350px;
    margin: -170px auto;
}

#alerta-info h2 {
    color: #00c3ff;
    font-size: 3em;
    margin: 20px 0 0;
    text-align: center;
}

#alerta-nivel {
    font-size: 85px;
}

#alerta-card-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.alerta-card {
    background-color: var(--cor-fundo-Xclara);
    width: 220px;
    padding: 0 10px;
    border-radius: 10px;
    margin: 10px 10px 35px;
}

.alerta-card img {
    display: block;
    width: 100%;
    margin: 10px auto -10px;
}

.alerta-card h4 {
    margin-top: 15px;
    text-align: center;
    background-color: var(--cor-fundo-Xescuro);
    color: var(--cor-texto-clara);
}

.alerta-card ul {
    list-style: none;
}
.alerta-card ul li {
    margin-left: -33px;
    font-size: 0.8em;
    padding-bottom: 10px;
}

/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
/* ---------- Anel% ----------- */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/

.anel-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.anel-porcentagem {
    display: flex;
    justify-content: center;
    background-color: #004aad;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    position: relative;
}

.anel-porcentagem progress-ring {
    margin: -15px 0 0 0;
    position: absolute;
}

.anel-porcentagem strong {
    font-size: 35px;
    color: var(--cor-texto-clara);
    position: absolute;
    top: 85px;
    translate: 0 -50%;
}

/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
/* ---------- Tabela----------- */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/

#tabela-container {
    background-color: var(--cor-fundo-Xclara);
    text-align: center;
    padding: 15px 0 35px;
}

#tabela {
    display: inline-grid;
    grid-template-columns: repeat(4, max-content);
    background-color: var(--cor-fundo-XXclara);
    gap: 1ch;
    padding: 1ch 0.5ch;
    margin: 15px auto;
    border-radius: 8px;
}

@media screen and (max-width: 999px) {
    #tabela {
        grid-template-columns: repeat(2, max-content);
    }
}

@media screen and (max-width: 550px) {
    #tabela {
        grid-template-columns: repeat(2, 180px);
    }
}

.alerta0 {
    background-color: var(--cor-fundo-clara);
    padding: 0.5ch;
    border-radius: 8px 0 0 8px;
}

.alerta1,
.alerta2,
.alerta3,
.alerta4 {
    padding: 0.5ch;
    margin-left: -1ch;
    border-radius: 0 8px 8px 0;
}

.a-fechado {
    background-color: rgba(255, 0, 0, 0.2);
}

.a-restricoes {
    background-color: rgba(255, 255, 0, 0.2);
}

.a-aberto {
    background-color: rgba(0, 255, 0, 0.2);
}

.a-definido {
    background-color: rgba(0, 0, 255, 0.2);
}

.alerta2,
.alerta3,
.alerta4 {
    display: none;
}
