/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
/* ---------- Banner ---------- */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/

#banner {
    height: 50vh;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
/* ----------- Info ----------- */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/

h1 {
    font-variant: small-caps;
    font-size: 1.8em;
}

.container {
    width: 90%;
    max-width: 1500px;
    margin: auto;
    padding: 10px 0;
}

#prevencao-fundo {
    background-color: var(--cor-fundo-XXclara);
}

#prevencao {
    color: var(--cor-texto-escura);
    text-align: center;
    padding-bottom: 150px;
}

#prevencao-cards {
    max-width: 900px;
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info-card {
    background-color: var(--cor-fundo-Xclara);
    width: 260px;
    padding: 0 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.info-card p {
    margin: -10px 0 20px 0;
}

/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
/* ---------- Vacinas --------- */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/

#vacina-fundo {
    background-color: var(--cor-fundo-Xclara);
}

#vacina-container {
    display: grid;
    grid-template-columns: 1fr 380px;
    min-height: 800px;
}

#vacina-info h2 {
    color: #00c3ff;
    font-size: 3em;
    margin: 20px 0 0;
}

#vacina-info h3 {
    font-size: 2em;
    font-weight: 500;
    line-height: 1.2em;
    width: 50%;
    margin: 0;
}

#vacina-info p {
    text-align: justify;
    max-width: 860px;
}

#vacina-info p:nth-of-type(2) {
    margin-bottom: 160px;
}

#vacina-image img {
    width: 350px;
    margin: -200px auto;
}

/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
/* --------- Eficácia --------- */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/

#eficacia-fundo {
    background-color: var(--cor-fundo-XXclara);
}

#eficacia-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    min-height: 600px;
}

#eficacia-image img {
    width: 350px;
    margin: -170px auto;
}

#eficacia-info h2 {
    color: #00c3ff;
    font-size: 3em;
    margin: 20px 0 0;
    text-align: center;
}

#eficacia-card-cont {
    display: flex;
    justify-content: space-evenly;
}

.eficacia-card {
    background-color: var(--cor-fundo-Xclara);
    width: 220px;
    padding: 0 10px;
    border-radius: 10px;
    margin: 10px 10px 35px;
}

.eficacia-card img {
    display: block;
    width: 100%;
    margin: 10px auto -10px;
}

.eficacia-card h4 {
    margin-top: 15px;
    text-align: center;
    background-color: var(--cor-fundo-Xescuro);
    color: var(--cor-texto-clara);
}

.eficacia-card ul {
    list-style: none;
}
.eficacia-card ul li {
    margin-left: -33px;
    font-size: 0.8em;
    padding-bottom: 10px;
}

/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
/* ---------- Anel% ----------- */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/

.anel-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.anel-porcentagem {
    display: flex;
    justify-content: center;
    background-color: #004aad;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    position: relative;
}

.anel-porcentagem progress-ring {
    margin: -15px 0 0 0;
    position: absolute;
}

.anel-porcentagem strong {
    font-size: 35px;
    color: var(--cor-texto-clara);
    position: absolute;
    top: 85px;
    transform: translate(0, -50%);
}

/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
/* -------- Perguntas --------- */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/

#accordion {
    margin-bottom: 35px;
}

#perguntas-fundo {
    background-color: var(--cor-fundo-Xclara);
}

#perguntas-fundo h2 {
    color: #00c3ff;
    font-size: 3em;
    margin: 20px 0 0;
    text-align: center;
    margin: 5px 0 25px;
}

#perguntas-fundo ul {
    margin-top: -5px;
}

#perguntas-fundo li {
    text-align: justify;
    margin: 0 0 1ch -2ch;
}

/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
/* ------ Media  Queries ------ */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
@media screen and (min-width: 1650px) {
    #vacina-info p {
        text-align: justify;
        max-width: 1000px;
    }

    #vacina-info p {
        line-height: 1.65;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 1125px) {
    #eficacia-container {
        grid-template-columns: 1fr;
    }

    #eficacia-image {
        display: none;
    }
}

@media screen and (max-width: 999px) {
    #vacina-container h3 {
        width: 80%;
    }
}

@media screen and (max-width: 799px) {
    #vacina-container {
        grid-template-columns: 1fr;
        min-height: 0;
    }

    #vacina-info p:nth-of-type(2) {
        margin-bottom: 20px;
    }

    #vacina-image {
        display: none;
    }

    #prevencao {
        padding-bottom: 0;
    }

    #eficacia-card-cont {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .eficacia-card {
        background-color: var(--cor-fundo-Xclara);
        width: 210px;
        padding: 0 5px;
    }
}
