.conteudo {
    margin: auto;
    width: 90%;
    padding-top: 30px;
    max-width: 1500px;
}

.titulo {
    margin-top: 15px;
    font-size: 3em;
    text-align: center;
    color: var(--cor-fundo-escuro);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.658);
    padding: 0;
}

/* Fundos seções */

.fundo-claro {
    background-color: var(--cor-fundo-Xclara);
    padding: 20px 0 120px;
}

#texto {
    line-height: 1.6;
    font-size: 1.2em;
    text-align: justify;
}

#text {
    line-height: 1.6;
    font-size: 1.2em;
    padding: 5%;
    text-align: justify;
}

.bloco {
    max-width: 902px;
    background: var(--cor-fundo-medio);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
    margin: 100px auto;
}

/*
  serviços integrando com galeria
  */

.servicos {
    width: 90%;
    margin: auto;

    max-width: 1500px;
}

#titulo2 {
    font-size: 3em;
    text-align: center;
    color: var(--cor-fundo-escuro);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.658);
}

#texto2 {
    line-height: 1.6;
    font-size: 1.2em;
    text-align: center;
}

/* Quem Somos */

.quemSomos {
    margin: auto;
    width: 90%;
    max-width: 1300px;
}

.quemSomosTitulo {
    font-size: 3em;
    text-align: center;
    color: var(--cor-fundo-escuro);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.658);
}

.quemSomosDescricao {
    margin: 30px;
    line-height: 1.6;
    font-size: 1.2em;
    text-align: center;
}

.equipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 30px 30px 0;
}

.pessoa {
    width: 25%;
    padding: 10px 10px;
    margin: 10px 20px;
    margin-bottom: 30px;
    background: var(--cor-fundo-Xclara);
    border-radius: 10px;
    width: 260px;
}

.pessoaImagem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    height: 150px;
    margin: 0 auto;
    width: 150px;
}

.imagembreenda {
    background-image: url("../img/Breenda.jpeg");
    background-position: 70%;
}

.imagemGiovanni {
    background-image: url("../img/Giovanni.png");
    background-size: 180px;
}

.imagemLarisse {
    background-image: url("../img/Larisse.jpeg");
}

.pessoaNome {
    font-size: 23px;
    background-color: var(--cor-fundo-clara);
    margin: 1rem 0;
    text-align: center;
}

.pessoaDescricao {
    padding: 15px 15px;
    line-height: 160%;
    text-align: center;
}

/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
/* ------- Media Queries ------ */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/

@media screen and (max-width: 650px) {
    #slideshow,
    #slideshow ul,
    #slideshow ul li {
        width: 400px !important;
        height: 260px !important;
    }

    #slideshow img {
        width: 400px !important;
    }
}

@media screen and (max-width: 440px) {
    #slideshow,
    #slideshow ul,
    #slideshow ul li {
        width: 300px !important;
        height: 200px !important;
    }

    #slideshow img {
        width: 300px !important;
    }
}
